
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
    color:#ee3293;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 430,
}

.star-black{
    color: #1e172f;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.done-black{
    color: #1e172f;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.close_black{
    color: #1e172f;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.star-pink{
    color:#ee3293;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



.done-pink{
    color:#ee3293;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}
  


body{
    width: 99vw;
    height: 100vh;
}

footer{
    width: 99vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.section1{
    width: 100%;
    height: 770px;
    display: flex;
    
}

.section2{
    background-color: rgba(241,242,247,255);
    width: 100%;
    height: 620px;
}

.section3{
    width: 100%;
    background-color: #1e172f;
    
}

.section3 h3{
    font-size: 70px;
    color: white;;

}

.section2 h2{
    font-size: 70px;
    color: #f41486;
}

.section2 img{
    width: 30%;

}

.tarjetas{
    display: flex;
    justify-content: center;
}


.tarjeta button{
    background: linear-gradient(100deg, #fa82c0, #f41486) ;
    border-radius: 4px;
    border: none;
    padding: 12px 35px;

    color: white;
    font-size: 17PX;

}

.tarjeta{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 10px 10px 10px 10px hsla(0, 0%, 0%, 0);
    


}

.cabecera_tarjeta{
    display: flex;
    align-items: center;
    height: 160px;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
}
.cabecera_tarjeta2{
    display: flex;
    align-items: center;
    height: 160px;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
}

.cabecera_tarjeta h4{
    color: #f41486;
    font-size: 25px;

}
.cabecera_tarjeta2 h4{
    color:#1e172f;
    font-size: 25px;

}


.precio{
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px; 
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
}

.precio p{
    width: 26%;
}

.num{
    font-size: 40px;
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
}



.marco{
    display: flex;
    flex-direction: column;
    height: 425px;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    
}

.texto_tarjeta1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.texto_tarjeta1 ul{
    width: 75%;
}

.texto_tarjeta1 li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_tarjeta1 p{
    width: 75%;
}
 
.texto_tarjeta2{
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0px 42px

}

.texto_tarjeta2 p{
    font-size: 19px;
}

.separador_boton{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px;
}
.separador_boton2{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px;
}

.separador_boton2 button{
    background: #1e172f;
    border-radius: 4px;
    border: none;
    padding: 12px 35px;

    color: white;
    font-size: 17PX;

}



.parrafo{
    display: flex;
    padding: 0px 435px 50px 435px;

}
.parrafo p{
    color: gray;
    text-align: center;
    font-size: 19px;


}


.cuadrado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: flex-start

}

.apilamiento{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0px 85px 0px 190px;
}

.text1{
    font-size: 19px;
    color: gray;
}

.Tit_apilamiento{
    font-size: 50px;
    color: #ae1c68;
    margin: 0px 0px 30px 0px;

}

.sep_apilamiento{
    font-size: 25px;
    color: #ee3293;
    margin:30px 0px 10px 0px;
    

}

.apilamiento i{ 
    display: flex;
    align-items: center;
    margin: 3px;

}
.titulo2{
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}
.titulo3{
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}





.cabecera{
    width: 100%;
    height: 85px;
    background-color: rgb(30, 23, 47);
    display: flex;
    justify-content: space-around;
}

.menu{
    width: 30%;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center
}

.menu li{
    list-style: none;
    color: gray;
    font-size: 19px;

}

.menu button{
    background: linear-gradient(100deg, rgb(158, 23, 189), rgb(42, 143, 226)) ;
    border-radius: 4px;
    border: none;
    padding: 19px 35px;

    color: white;
    font-size: 17PX;
    
}

.separador1{
    width: 50%;
    height: 100%;
    background-color: rgb(54, 43, 93);

}

.separador2{
    width: 50%;
    height: 100%;
    background-image: url(../imagenes/hojasFondo.jpg);
    background-size: cover;
    display: flex;

    align-items: center;

}



.separador2 img{
    padding: 60px 50px 0px 150px;
    width: 50%;
    height: 80%;

}
.recuadro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 286px;
}

.recuadro h1{
    

    font-size: 80px;
    color: aliceblue;
}
.recuadro h2{

    font-size: 80px;
    color: aliceblue;
}

.recuadro p{
    margin: 30px 0px;
    font-size: 30px;
    color: aliceblue;
}

.boton1{
    background-color: white;
    border-radius: 4px;
    border: none;
    padding: 19px 35px;
    border: 2px solid rgb(255, 255, 255);

    color: rgb(255, 0, 234);
    font-size: 17PX;

}

.boton2{
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
    padding: 19px 61px;

    color: rgb(255, 255, 255);
    font-size: 17PX;

}

.botones{
    padding: 5px;
    border: 2px solid gray;
    background-color: transparent;
    border-radius: 4px;
    
    width: 410px;


}

@media (max-width: 1280px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    
    .menu {
        width: 55%;
    }
    .recuadro {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px 0px 0px 36px;
    }
    .separador2 img {
        padding: 110px 98px 0px 58px;
        width: 83%;
        height: 80%;
    }


    .apilamiento {
        display: flex;
        flex-direction: column;
        width: 35%;
        padding: 0px 0px 0px 15px;
    }

    .cuadrado {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .section2 img {
        width: 50%;
    }
    .parrafo {
        display: flex;
        padding: 0px 50px 50px 50px;
    }
    .tarjeta { 
        display: flex; 
        flex-direction: column; 
        width: 257px; background-color: #ffffff; 
        border-radius: 5px; 
        height: 570px; 
        margin: 10px; 
        box-shadow: 10px 10px 10px 10px hsla(0, 0%, 0%, 0); 
    }
    .marco { 
        display: flex; 
        flex-direction: column; 
        height: 461px; 
        align-items: center; 
        justify-content: space-between; 
        text-align: center; 
    }
    .texto_tarjeta2 { 
        display: flex; 
        width: 100%; 
        height: 120px; 
        text-align: center; 
        padding: 0px 9px; 
    }
    footer {
        width: 100vw;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .section3 {
        width: 100%;

        background-color: #1e172f;
    }
}
@media (max-width: 920px) {
    .menu {
        width: 60%;
    } 

    .menu button {
        background: linear-gradient(100deg, rgb(158, 23, 189), rgb(42, 143, 226));
        border-radius: 4px;
        border: none;
        padding: 15px 25px;
        color: white;
        font-size: 17PX;
    }
    .boton2 {
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid rgb(255, 255, 255);
        padding: 15px 35px;
        color: rgb(255, 255, 255);
        font-size: 17PX;
    }
    .boton1 {
        background-color: white;
        border-radius: 4px;
        border: none;
        padding: 15px 15px;
        border: 2px solid rgb(255, 255, 255);
        color: rgb(255, 0, 234);
        font-size: 17PX;
    }
    
    .recuadro h2 {
        font-size: 60px;
        color: aliceblue;
    }
    .recuadro h1 {
        font-size: 65px;
        color: aliceblue;
    }
    .recuadro p {
        margin: 30px 0px;
        font-size: 20px;
        color: aliceblue;
    }
    .botones {
        padding: 5px;
        border: 2px solid gray;
        background-color: transparent;
        border-radius: 4px;
        width: 320px;
    }
    .section1 {
        width: 100%;
        height: 645px;
        display: flex;
    }
    .separador2 img {
        padding: 130px 95px 0px 60px;
        width: 83%;
        height: 80%;
    }
    .section2 h2 {
        font-size: 60px;
        color: #f41486;
    }
    .apilamiento {
        display: flex;
        flex-direction: column;
        width: 45%;
        padding: 0px 0px 0px 15px;
    }
    .section3 h3 {
        font-size: 60px;
        color: white;
    }
    .parrafo {
        display: flex;
        padding: 0px 25px 50px 25px;
    }
    .parrafo p {
        color: gray;
        text-align: center;
        font-size: 15px;
    }
    .tarjeta {
        display: flex;
        flex-direction: column;
        width: 215px;
        background-color: #ffffff;
        border-radius: 5px;
        height: 545px;
        margin: 10px;
        box-shadow: 10px 10px 10px 10px hsla(0, 0%, 0%, 0);
    }

    .texto_tarjeta2 p {
        font-size: 16px;
    }

    .precio p {
        width: 40%;
    }

    .texto_tarjeta1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
    }
    .section3 {
        width: 100%;
        height: 900px;
        background-color: #1e172f;
    }


    

}

@media (max-width: 768px) {

    body {
        width: 116vw;
        height: 100vh;
    }

    .cabecera img {
        width: 33%;
    }
    
    .menu {
        width: 85%;
    }
    
    .cabecera {
        width: 100%;
        height: 155px;
        background-color: rgb(30, 23, 47);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 7px 0px;
    }
    .menu button {
        background: linear-gradient(100deg, rgb(158, 23, 189), rgb(42, 143, 226));
        border-radius: 4px;
        border: none;
        padding: 10px 15px;
        color: white;
        font-size: 17PX;
    }
    .separador2 {
        display: none;
    }

    .separador1 {
        width: 100%;
        height: 100%;
        background-color: rgb(54, 43, 93);
    }
    .recuadro p {
        margin: 30px 0px;
        font-size: 20px;
        color: aliceblue;
        text-align: center;
    }
    .recuadro {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px 16px 0px 16px;
        align-items: center;
    }

    .Tit_apilamiento {
        font-size: 40px;
        color: #ae1c68;
        margin: 0px 0px 30px 0px;
    }
    .parrafo {
        display: flex;
        padding: 0px 10px 50px 10px;
    }

    .tarjetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section3 {
        width: 100%;
        background-color: #1e172f;
    }

}

@media (max-width: 480px) {
    body {
        width: 120vw;
        height: 100vh;
    }
    .menu li {
        list-style: none;
        color: gray;
        font-size: 16px;
    }
    .menu button {
        background: linear-gradient(100deg, rgb(158, 23, 189), rgb(42, 143, 226));
        border-radius: 4px;
        border: none;
        padding: 8px 8px;
        color: white;
        font-size: 16PX;
    }
    .menu {
        width: 90%;
    }

    .section2 h2 {
        font-size: 50px;
        color: #f41486;
    }
    .section2 img {
        display: none;
    }
    .apilamiento {
        display: flex;
        flex-direction: column;
        width: 85%;
        padding: 0px 0px 0px 15px;
    }
    .section3 h3 {
        font-size: 50px;
        color: white;
    }
    .parrafo {
        display: flex;
        padding: 1px 10px 30px 10px;
    }
    .section3 {
        width: 100%;
        background-color: #1e172f;
    }
    .tarjetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .pfoot{
        width: 200px;
    }
    .redes {
        width: 105px;
    }
    footer {
        width: 120vw;
        height: 55px;
        display: flex;
        justify-content: center;
    }
    .section3 {
        width: 100%;
        background-color: #1e172f;
        
    }



}
